@media (max-width: 1024px){
    .banner__paragraph{
        width: 72%;
    }

    .about__container{
        padding: 82px 40px;
    }

    .questions__info{
        width: 100%;
        gap: 1rem;
    }

    .left-questions__container{
        width: 100%;
        height: auto;
        padding-left: 1.5rem;
    }

    .questions__frequent{
        width: 100%;
        padding-right: 1.5rem;
        top: 130px;
    }

    .question__title{
        width: 100%;
    }

    .question__paragraph-left{
        width: 100%;
        height: auto;
    }

    .right-question__container{
        width: 100%;
        gap: 2.5rem;
    }

    .list__question{
        width: 90%;
    }

    .title__question{
        width: 100%;
        height: auto;
    }

    .list__paragraph-rigth{
        height: auto;
    }

    .title__comment{
        width: 100%;
    }

    .intro-comment__paragraph{
        width: 100%;
    }

    .comments__section{
        max-width: 100%;
        gap: 3.1rem;
    }

    .comment_right{
        width: 100%;
        padding-left: 1px;
    }

    .comment__students-about{
        max-width: 98%;
        height: 28.25rem;
        gap: 15px;
    }

    .comment-left__list{
        width: 100%;
        height: auto;
    }

    .comment__list{
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
    }

    .comment__div-list{
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .comment__paragraph{
        max-width: 100%;
    }

    @media (max-width: 768px){
        .about__us{
            flex-direction: column;
            justify-content: center;
            gap: 2.5rem;
        }

        .about__title{
            align-items: center;
        }

        .about__who-us{
            width: 100%;
        }

        .questions__info{
            flex-direction: column;
            align-items: center;
        }

        .left-questions__container{
            max-width: 100%;
            padding: 0;
        }

        .questions__frequent{
            align-items: center;
            max-width: 100%;
            padding: 1%;
        }

        .question__title{
            text-align: center;
        }

        .question__button{
            width: 100%;
            margin-bottom: 40px;
        }

        .right-question__container{
            width: 700px;
        }

        .list__question{
            width: 100%;
            max-width: 700px;
        }

        .title__question{
            width: 100%;
        }

        .list__paragraph-rigth{
            width: 100%;
        }

        .comments__container{
            width: 100%;
            padding: 2%;
        }

        .comments__section{
            flex-direction: column;
            align-items: center;
            width: 700px; 
        }

        .comment_right{
            width: 45rem;
            padding: 0;
            position: static;
        }

        .comment__students-about{
            width: 100%;
            justify-content: space-around;
        }
    
        .intro-comment__paragraph{
            width: 100%;
        }

        .comment__list{
            flex-direction: column;
            width: 100%;
            height: auto;
            gap: 16px;
        }
    
        .comment__div-list{
            flex-direction: row;
            width: 100%;
        }

        .comment__title{
            width: 35%;
        }
    }

    @media (max-width: 427px) {
        .header__container{
            width: 100%;
            padding: 20px 5%;
        }

        .header__logo-button{ 
            height: 20px;
        }
    
        .enter__button{
            display: none;
        } 

        h1{
            max-width: 80%;
        }
        
        .banner__container{
            height: 33.125rem;
        }

        .banner__paragraph{
            width: 80%;
        }

        .about__container{
            width: 100%;
            padding: 82px 40px;
        }

        .about__us{
            flex-direction: column;
            width: 100%;
            height: 200px;
        }

        .about__title{
            align-items: center;
            width: 100%;
            font-size: clamp(1.75rem, 1.395rem + 1.336vw, 2.25rem);
        }

        .about__who-us{
            max-width: 25rem;
            font-size: clamp(1rem, 0.823rem + 0.668vw, 1.25rem);
        }

        .question__title{
            width: 100%;
            font-size: clamp(1.75rem, 1.395rem + 1.336vw, 2.25rem);
        }

        .question__button{
            width: 25rem;
            color: var(--text-gray);
        }

        .question__paragraph-left{
            max-width: 25rem;
            height: auto;
            font-size: clamp(1.05rem, 0.908rem + 0.534vw, 1.25rem);
        }

        .right-question__container{
            width: 100%;
        }

        .list__question{
            width: 100%;
        }

        .title__question{
            width: 25rem;
            height: 2.5rem;
        }

        .list__paragraph-rigth{
            height: auto;
        }
        
        .comments__section{
            flex-direction: column;
            align-items: center;
        }

        .comment_right{
            position: static;
            max-width: 25rem;
            height: 440px;
            padding-left: 0;
        }

        .comment__students-about{
            max-width: 25rem;
            padding: 80px 40px;
            gap: 10px;
            align-items: center;
        }

        .title__comment{
            width: 20.50rem;
        }

        .intro-comment__paragraph{
            max-width: 20.0rem;
            height: auto;
        }

        .comment-left__list{
            width: 100%;
            gap: 10px;
        }

        .comment__list{
            flex-direction: column;
            gap: 15px;
        }

        .comment__div-list{
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            height: auto;
        }

        .comment__title{
            width: 80%;
        }

        .student__class{
            margin-top: 15px;
        }

        .comment__paragraph{
            width: 100%;
            height: auto;
        }
    }
}