@media (min-width:769px) and (max-width: 1024px) {
    .header__container{
        padding: 20px 40px;
    }

    .header__logo-button{
        width: 1024px;
    }

    .banner__container{
        padding: 170px 150px;
    }

    .banner__content{
        width: 800px;
    }

    .banner__paragraph{
        width: 730px;
    }

    .about__container{
        padding: 82px 40px;
    }

    .questions__info{
        max-width: 1024px;
        padding-block: 2.5rem;
    }

    .left-questions__container{
        width: 492px;
        height: 320px;
        padding-left: 40px;
    }

    .questions__frequent{
        width: 492px;
    }

    .question__title{
        width: 452px;
    }

    .question__paragraph-left{
        width: 452px;
        height: 160px;
    }

    .right-question__container{
        width: 492px;
        padding-right: 40px;
    }

    .list__question{
        width: 492px;
    }

    .title__question{
        width: 452px;
    }

    .list__paragraph-rigth{
        width: 452px;
    }

    .comments__container{
        padding: 82px 40px;
    }

    .title__comment{
        width: 388px;
    }

    .intro-comment__paragraph{
        width: 348px;
    }

    .comments__section{
        width: 984px;
        gap: 41px;
    }

    .comment_right{
        width: 452px;
        height: 462px;
        padding-left: 1px;
    }

    .comment__students-about{
        width: 452px;
        height: 452px;
        gap: 15px;
    }

    .comment-left__list{
        width: 452px;
        height: 1387px;
    }

    .comment__list{
        width: 452px;
        flex-direction: column;
        gap: 25px;
    }

    .comment__div-list{
        flex-direction: row;
        width: 492px;
        height: 40px;
        align-items: center;
    }

    .comment__paragraph{
        width: 442px;
    }

    footer {
        width: 1024px;
        padding: 50px 412px;
    }
}

@media (min-width: 426) and (max-width: 768px) {
    .header__container{
        padding: 1.25rem;
    }

    .banner__content{
        width: 720px;
    }

    .banner__paragraph{
        width: 620px;
    }

    .about__container{
        padding: 82px;
        height: 400px;
    }

    .about__us{
        flex-direction: column;
        justify-content: center;
    }

    .about__title{
        align-items: center;
    }

    .about__who-us{
        width: 45rem;
    }

    .questions__container{
        height: 1340px;
    }

    .questions__info{
        flex-direction: column;
        align-items: center;
    }

    .questions__frequent{
        padding: 0;
        align-items: center;
        width: 45rem;
    }
    
    .question__button{
        width: 45rem;
        margin-bottom: 40px;
    }

    .right-question__container{
        width: 45rem;
        height: 1100px;
    }

    .list__question{
        align-items: center;
    }

    .comments__section{
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    .comment_right{
        width: 45rem;
        padding: 0;
        position: static;
    }

    .comment__students-about{
        width: 45rem;
        justify-content: space-around;
    }

    .title__comment{
        width: 39rem;
    }

    .intro-comment__paragraph{
        width: 39rem;
    }

    .comment-left__list{
        width: 45rem;
    }

    .comment__list{
        flex-direction: column;
        width: 45rem;
        height: 250px;
        gap: 16px;
    }

    .comment__div-list{
        flex-direction: row;
        width: 45rem;
    }

    .comment__paragraph{
        width: 45rem;
        height: 100px;
    }

    footer{
        width: 100%;
    }
}

@media (max-width: 427px) {
    .header__container{
        width: 100%;
        padding: 20px 5%;
        position: relative;
    }

    .header__logo-button{ 
        height: 20px;
    }

    .enter__button{
        display: none;
    }

    .banner__container{
        padding: 15%;
        height: 33.125rem;
    }

    .banner__paragraph{
        width: 18.75rem;
    }

    .about__container{
        width: 100%;
        padding: 82px 40px;
    }

    .about__us{
        flex-direction: column;
        width: 25rem;
        height: 200px;
    }

    .about__title{
        align-items: center;
        width: 25rem;
        font-size: clamp(1.75rem, 1.395rem + 1.336vw, 2.25rem);
    }

    .about__who-us{
        width: 25rem;
        font-size: clamp(1rem, 0.823rem + 0.668vw, 1.25rem);
    }

    .questions__container{
        padding: 2.5rem;
        height: 95rem;
    }

    .questions__info{
        width: 25rem;
        flex-direction: column;
        align-items: center;
    }

    .questions__frequent{
        width: 25rem;
        padding-right: 0;
    }

    .question__title{
        width: 25rem;
        font-size: clamp(1.75rem, 1.395rem + 1.336vw, 2.25rem);
    }

    .question__paragraph-left{
        width: 25rem;
        height: 100px;
        font-size: clamp(1.05rem, 0.908rem + 0.534vw, 1.25rem);
    }

    .question__button{
        width: 25rem;
        color: var(--text-gray);
    }

    .right-question__container{
        width: 100%;
        height: 1200px;
        justify-content: space-evenly;
    }

    .list__question{
        width: 25rem;
    }

    .title__question{
        width: 25rem;
        height: 2.5rem;
        font-size: clamp(1.5rem, 1.145rem + 1.336vw, 2rem);
    }

    .list__paragraph-rigth{
        height: 11.25rem;
    }

    .comments__container{
        padding: 0.75rem;
    }

    .comments__section{
        flex-direction: column;
        align-items: center;
    }

    .comment_right{
        position: static;
        width: 25rem;
        height: 440px;
        padding-left: 0;
    }

    .comment__students-about{
        width: 25rem;
        padding: 80px 40px;
        gap: 10px;
        align-items: center;
    }

    .title__comment{
        width: 20.50rem;
        font-size: clamp(2rem, 1.645rem + 1.336vw, 2.5rem);
    }

    .intro-comment__paragraph{
        width: 20.50rem;
        height: 150px;
    }

    .comment-left__list{
        width: 100%;
        gap: 10px;
    }

    .comment__list{
        flex-direction: column;
        gap: 15px;
    }

    .comment__div-list{
        flex-direction: row;
        justify-content: flex-start;
        width: 25rem;
        height: 52px;
    }

    .comment__title{
        width: 140px;
        font-size: clamp(1.5rem, 1.145rem + 1.336vw, 2rem);
    }

    .student__class{
        margin-top: 15px;
        font-size: clamp(1rem, 0.823rem + 0.668vw, 1.25rem);
    }

    .comment__paragraph{
        width: 25rem;
        height: 140px;
        font-size: clamp(1rem, 0.911rem + 0.334vw, 1.125rem);
    }

    footer{
        width: 425px;
    }

    #modalContainer {
        width: 425px;
        height: 416px;
    }

    .modal__section{
        width: 400px;
    }
}