@import url("globalStyles.css");
@import url("index.css");

#modalContainer {
    max-width: 504px;
    height: 416px;

    border: 2px solid var(--tone-primary-blue);
    background: var(--background-bodys);
}

.modal__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 504px;
    height: 416px;
    padding: clamp(1.5rem, -4.167rem + 21.333vw, 2.5rem) 
    clamp(1.25rem, -1.583rem + 10.667vw, 1.75rem);
    gap: 31px;
}

.modal__title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 448px;
    height: 51px;
}

.modal__title {
    text-align: center;
    font-size: clamp(1.5rem, -1.333rem + 10.667vw, 2rem);
    font-style: normal;
    font-weight: var(--weight-title);
    line-height: 160%;
    color: var(--text-gray);
}

#modalButtonClose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 32px;
    border-radius: 4px;
    background: #343a40;
    color: var(--tone-gray-four);
    font-family: Nunito;
    font-size: clamp(1rem, -0.417rem + 5.333vw, 1.25rem);
    font-style: normal;
    font-weight: var(--weight-title);
    line-height: 160%;
}

.modal__div-paragraph {
    max-width: 100%;
    height: auto;
}

.modal__paragraph {
    font-size: clamp(0.8rem, -0.333rem + 4.267vw, 1rem);
    font-style: normal;
    font-weight: var(--weight-text);
    line-height: 150%;
    color: var(--tone-gray-four);
}

.modal__form {
    display: flex;
}

#input_email {
    display: flex;
    max-width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--background-primary);
    background: var(--background-primary);
}

#input_email::placeholder {
    padding-left:  clamp(1rem, -0.417rem + 5.333vw, 1.25rem);
    color: var(--tone-gray-four);
    font-size: 20px;
    font-weight: var(--weight-text);
    line-height: 150%;
}

#modalButtonEnterList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2rem;
    max-width: 448px;
    height: 60px;
    gap: 10px;
    color: var(--text-gray);
    border: 1px solid var(--tone-primary-blue);
    background: var(--tone-primary-blue);
}

::backdrop {
    background: rgb(0, 0, 0, 0.8);
  }